.wdym{
    text-align:center;
    border-style:solid;
    border-color:black;
    margin-left:713px;
    margin-right:700px;
    margin-top:30px;
    padding:10px;
    background-color:lightgrey;
    border-radius:18px ;
    display: inline-block;
    text-decoration:black;
}
.wmmt{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 100px;
}
.myword{
    text-align:center;
    margin-left:680px;
    margin-right:680px;
    margin-top: 20px;
    background-color: lavender;
}
.disclaimer{
    margin-left:30.5%;
    margin-right:30.5%;
    background-color:lightcoral;
    margin-top:30px;
}
.title{
    margin-top:-3px;
    background-color:gold;
    padding:5px;
    text-align:center;
    font-family: sans-serif;
}
@media only screen and (min-device-width: 1024) and (max-device-width: 1920) and (orientation: landscape){
    .wmmt{
        margin-left:350px;
    }
    .myword{
        margin-left: 430px;
        margin-right: 430px;
    }
    .wdym{
        margin-right: 300px;
        margin-left: 460px;
    }
    .disclaimer{
        margin-right:15%;
        margin-left:19%; 
    }
}
